version: '3.7'
services:

######################################################################################################################
  perfana:
    image: perfana/perfana-fe:2.10.15
    init: true
    depends_on:
      - influxdb
      - perfana-grafana
      - perfana-fixture
      - mongo1
      - mongo2
      - mongo3
    expose:
      - 4000
    ports:
      - "4000:3000"
    networks:
      - perfana                                     
    environment:
      ROOT_URL: "http://localhost:4000"                   
      MONGO_URL: "mongodb://mongo1:27017,mongo2:27017,mongo3:27017/perfana?replicaSet=rs0"
      MONGO_OPLOG_URL: "mongodb://mongo1:27017,mongo2:27017,mongo3:27017/local?authSource=perfana&replicaSet=rs0"
      NODE_TLS_REJECT_UNAUTHORIZED: "0"
      METEOR_SETTINGS: '{
        "autoCreateApplications": true,
        "adminEmail":"admin@perfana.io",
        "adminPassword":"perfana",
        "prometheusRetention": "86400",
        "influxDbRetention": "86400",
        "snapshotExpires": "7776000",
        "perfanaHost": "http://localhost:4000",
        "influxDbHost": "influxdb",
        "public": {
            "jaegerHost": "http://localhost:16686",
            "perfanaHost":"http://localhost:4000"
        },
        "allowedFrameSrc": [                         
         "http://localhost:3000",  
         "http://localhost:16686"  
        ],
        "grafanaInstances": [
              {
                "label": "Demo",
                "clientUrl": "http://localhost:3000",
                "serverUrl": "http://grafana:3000",
                "orgId": "1",
                "apiKey": "__api_key_to_replace__",
                "snapshotInstance": true,
                "trendsInstance": true,
                "username": "perfana",
                "password": "perfana"
              }
        ]
       }'
    
  ######################################################################################################################
  perfana-grafana:
    image: perfana/perfana-grafana:2.5.1
    depends_on:
      - grafana
      - influxdb
    environment:
      MONGO_URL: "mongodb://mongo1:27017,mongo2:27017,mongo3:27017/perfana?replicaSet=rs0"
      SYNC_INTERVAL: 30000
    ports:
      - "3001:3000"
    networks:
      - perfana

        ######################################################################################################################
  perfana-fixture:
    image: perfana/perfana-fixture:2.4.0-demo
    depends_on:
      - grafana
      - influxdb
      - mongo1
      - mongo2
      - mongo3
  
    environment:
      MONGO_URL: "mongodb://mongo1:27017,mongo2:27017,mongo3:27017/perfana?replicaSet=rs0"
    ports:
      - "3002:3000"
    networks:
      - perfana

  ######################################################################################################################
  perfana-snapshot:
    image: perfana/perfana-snapshot:2.3.9
    depends_on:
      - mongo1
      - mongo2
      - mongo3
    environment:
      MONGO_URL: "mongodb://mongo1:27017,mongo2:27017,mongo3:27017/perfana?replicaSet=rs0"
    # init: true
    networks:
      - perfana

  ######################################################################################################################
  perfana-check:
    image: perfana/perfana-check:2.3.8
    depends_on:
      - mongo1
      - mongo2
      - mongo3
    environment:
      MONGO_URL: "mongodb://mongo1:27017,mongo2:27017,mongo3:27017/perfana?replicaSet=rs0"
      SPRING_PROFILES_ACTIVE: "dev"
    networks:
      - perfana

  ######################################################################################################################
  jenkins:
    image: perfana/perfana-jenkins:2.3.0-beta
    expose:
    - 8090
    ports:
    - "8090:8080"
    networks:
      - perfana
    depends_on:
      - influxdb  
       
  ######################################################################################################################
  influxdb:
    image: influxdb:1.7.6 
    ports:
    - "8086:8086"
    - "2003:2003"
    environment:
      INFLUXDB_GRAPHITE_ENABLED: "true"
    volumes:
    - "./influxdb/influxdb.conf:/etc/influxdb/influxdb.conf:ro"
    networks:
      - perfana
 
  ######################################################################################################################
  jaeger:
    image: jaegertracing/all-in-one:1.17
    ports:
      - "5775:5775/udp"
      - "6831:6831/udp"
      - "6832:6832/udp"
      - "5778:5778"
      - "16686:16686"
      - "14268:14268"
      - "14250:14250"
      - "9411:9411"
    networks:
      - perfana
    environment:
      COLLECTOR_ZIPKIN_HTTP_PORT: 9411  
      
  ######################################################################################################################
  optimus-prime-fe:
    image: perfana/perfana-afterburner:2.2.3-beta
    environment:
      "spring.application.name": "optimus-prime-fe"                               
      # "afterburner.async_max_pool_size": "20"
      # "afterburner.async_core_pool_size": "20"
      # "afterburner.async_queue_size": "-1"                                                                     
      "afterburner.name": "optimus-prime-fe"
      "management.metrics.tags.system_under_test": "OptimusPrime"
      "management.metrics.tags.test_environment": "acc"
      "management.metrics.tags.service": "optimus-prime-fe"
      "afterburner.remote.call.base_url": "http://optimus-prime-be:8080"
      "afterburner.remote.call.httpclient.socket.timeout.millis": "10000" 
      "JAVA_OPTS" : "-Xmx1024m"
      "spring.zipkin.base-url": "http://jaeger:9411/"
      "spring.sleuth.sampler.probability": "0.1"
      "spring.sleuth.keys.http.headers": "perfana-test-run-id,perfana-request-name"
      "spring.sleuth.propagation.tag.enabled": "true"
      "spring.sleuth.propagation.tag.whitelisted-keys": "perfana-test-run-id,perfana-request-name"
      "spring.sleuth.propagation-keys": "perfana-test-run-id,perfana-request-name"
      "spring.sleuth.baggage-keys": "perfana-test-run-id,perfana-request-name"
    networks:
      - perfana

  ######################################################################################################################
  optimus-prime-be:
    image: perfana/perfana-afterburner:2.2.3-beta
    environment:
      "spring.application.name": "optimus-prime-be"
      "afterburner.name": "optimus-prime-be"
      "management.metrics.tags.system_under_test": "OptimusPrime"
      "management.metrics.tags.test_environment": "acc"
      "management.metrics.tags.service": "optimus-prime-be"
      "afterburner.remote.call.base_url": "http://wiremock:8080"
      "afterburner.remote.call.httpclient.socket.timeout.millis": "10000" 
      "JAVA_OPTS" : "-Xmx1024m"
      "spring.zipkin.base-url": "http://jaeger:9411/"
      "spring.sleuth.sampler.probability": "0.1"
      "spring.sleuth.keys.http.headers": "perfana-test-run-id,perfana-request-name"
      "spring.sleuth.propagation.tag.enabled": "true"
      "spring.sleuth.propagation.tag.whitelisted-keys": "perfana-test-run-id,perfana-request-name"
      "spring.sleuth.propagation-keys": "perfana-test-run-id,perfana-request-name"
      "spring.sleuth.baggage-keys": "perfana-test-run-id,perfana-request-name"
    networks:
      - perfana
        
  ######################################################################################################################
  # mega-tron-fe:
  #   image: perfana/perfana-afterburner:2.2.3-beta
  #   environment:
  #     "spring.application.name": "mega-tron-fe"
  #     "afterburner.async_max_pool_size": "20"
  #     "afterburner.async_core_pool_size": "20"
  #     "afterburner.async_queue_size": "-1"
  #     "afterburner.name": "mega-tron-fe"
  #     "management.metrics.tags.system_under_test": "MegaTron"
  #     "management.metrics.tags.test_environment": "acc"
  #     "management.metrics.tags.service": "mega-tron-fe"
  #     "afterburner.remote.call.httpclient.socket.timeout.millis": "10000" 
  #     "JAVA_OPTS" : "-Xmx1024m"
  #     "spring.zipkin.base-url": "http://jaeger:9411/"
  #     "spring.sleuth.sampler.probability": "0.1"
  #     "spring.sleuth.keys.http.headers": "perfana-test-run-id,perfana-request-name"
  #     "spring.sleuth.propagation.tag.enabled": "true"
  #     "spring.sleuth.propagation.tag.whitelisted-keys": "perfana-test-run-id,perfana-request-name"
  #     "spring.sleuth.propagation-keys": "perfana-test-run-id,perfana-request-name"
  #     "spring.sleuth.baggage-keys": "perfana-test-run-id,perfana-request-name"
  #   networks:
  #     - perfana

######################################################################################################################
  # star-scream-fe:
  #   image: perfana/perfana-afterburner:2.2.3-beta
  #   environment:
  #     "spring.application.name": "star-scream-fe"
  #     "afterburner.async_max_pool_size": "20"
  #     "afterburner.async_core_pool_size": "20"
  #     "afterburner.async_queue_size": "-1"
  #     "afterburner.name": "star-scream-fe"
  #     "management.metrics.tags.system_under_test": "StarScream"
  #     "management.metrics.tags.test_environment": "acc"
  #     "management.metrics.tags.service": "star-scream-fe"
  #     "afterburner.remote.call.httpclient.socket.timeout.millis": "10000" 
  #     "JAVA_OPTS" : "-Xmx1024m"
  #     "spring.zipkin.base-url": "http://jaeger:9411/"
  #     "spring.sleuth.sampler.probability": "0.1"
  #     "spring.sleuth.keys.http.headers": "perfana-test-run-id,perfana-request-name"
  #     "spring.sleuth.propagation.tag.enabled": "true"
  #     "spring.sleuth.propagation.tag.whitelisted-keys": "perfana-test-run-id,perfana-request-name"
  #     "spring.sleuth.propagation-keys": "perfana-test-run-id,perfana-request-name"
  #     "spring.sleuth.baggage-keys": "perfana-test-run-id,perfana-request-name"
  #   networks:
  #     - perfana
######################################################################################################################
  wiremock:
    image: perfana/perfana-wiremock:2.0.0-beta
    ports:
     - "8060:8080"
    networks:
      - perfana

  ######################################################################################################################
  telegraf:
    volumes:
    - ./telegraf/telegraf.conf:/etc/telegraf/telegraf.conf
    image: telegraf
    networks:
       - perfana

  ######################################################################################################################
  grafana:
    image: grafana/grafana:7.0.4
    ports:
      - "3000:3000"
    environment:
        GF_AUTH_ANONYMOUS_ENABLED: "true"
        GF_AUTH_ANONYMOUS_ORG_ROLE: "Viewer"
        GF_SECURITY_ADMIN_USER: "perfana"
        GF_SECURITY_ADMIN_PASSWORD: "perfana"
        GF_SECURITY_ALLOW_EMBEDDING: "true"
    networks:
      - perfana
  ######################################################################################################################
  prometheus:
    image: prom/prometheus
    user:  root
    volumes:
      - ./prometheus-config:/prometheus
      - ./data:/data
    command:
      - '--config.file=/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/data'
    ports:
      - 9090:9090
    depends_on:
      - alertmanager
    networks:
      - perfana
 
  ######################################################################################################################
  alertmanager:
    image: prom/alertmanager
    user:  root
    volumes:
      - ./prometheus-config:/prometheus
      - ./data:/data
    command:
      - '--config.file=/prometheus/alertmanager.yml'
      - '--storage.path=/data'
    ports:
      - 9093:9093
    networks:
      - perfana
  
  
######################################################################################################################
  ## To get it working on Windows using Docker for Windows and Hyper-V VM:
  ##  https://stackoverflow.com/questions/47998855/connect-to-mongodb-replica-set-running-inside-docker-with-java-windows
  ## Probably also makes it work on Mac.

  mongo1:
    hostname: mongo1
    image: mongo:4.4-rc
    expose:
    - 27011
    ports:
      - 27011:27017
    entrypoint: [ "/usr/bin/mongod", "--bind_ip_all", "--replSet", "rs0" ]
    networks:
     - perfana
  mongo2:
    hostname: mongo2
    image: mongo:4.4-rc
    expose:
    - 27012
    ports:
    - 27012:27017
    entrypoint: [ "/usr/bin/mongod", "--bind_ip_all", "--replSet", "rs0" ]
    networks:
     - perfana
  mongo3:
    hostname: mongo3
    image: mongo:4.4-rc
    expose:
    - 27013
    ports:
    - 27013:27017
    entrypoint: [ "/usr/bin/mongod", "--bind_ip_all", "--replSet", "rs0" ]
    networks:
      - perfana
        
#######################################################################################################################    
networks:
  perfana:
    driver: bridge

#######################################################################################################################
volumes:
  grafana-storage:
  jenkins-storage:
  mongo1-storage:
  mongo2-storage:
  mongo3-storage:
 
